body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

fieldset{
    background-color: rgb(89, 29, 253);
}
#img{
    text-align: center;
}
u{
    color: rgb(89, 29, 253);
}
h1{
    text-align: center;
}
.btn{
    text-align: center;
    color: black;
}
form{
    width: min-content;
}